canvas{
  /*pointer-events: none !important;*/
  z-index: 10;
}

video{
  opacity: 1;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /*color: rgba(255, 255, 255, 1);*/
  /*background-color: #000e2a;*/
  /*background-color: #ffffff;*/
  /*background: rgb(189,189,189);*/
  /*background: linear-gradient(0, rgba(189,189,189,1) 0%, rgba(255,255,255,1) 100%);*/
  /*color: #000e2a;*/
  background: #647AA3;
  background: linear-gradient(180deg, #647AA3 0%, #334195 100%);
  color: #e3e3e3;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.arjs-loader {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.arjs-loader-spinner {
  z-index: 10;
  -webkit-transform: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border: 3px solid #ddd;
  border-top: 3px solid #42a5f5;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

@-webkit-keyframes spin {
  to {
    border-top-color: #42a5f5;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: #42a5f5;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.notice{
  z-index: 100;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 85vh;
}

button{
  background: transparent;
  border: none !important;
  font-size:0;
}

.whale-menu{
  z-index: 100;
  position: absolute;
  top: 80vh; right: 50%;
  transform: translate(50%,-50%);
}




