@font-face { font-family: WWF; src: url('/fonts/WWF.otf'); }

canvas{
  z-index: 10;
}

video{
  opacity: 1;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /*color: rgba(255, 255, 255, 1);*/
  /*background-color: #000e2a;*/
  /*background-color: #ffffff;*/
  /*background: rgb(189,189,189);*/
  /*background: linear-gradient(0, rgba(189,189,189,1) 0%, rgba(255,255,255,1) 100%);*/
  /*color: #000e2a;*/
  background: #647AA3;
  background: linear-gradient(180deg, #647AA3 0%, #334195 100%);
  color: #e3e3e3;
  /*text-shadow: black 0px 0px 10px;*/
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.notice{
  z-index: 150;
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 85vh;
}

button{
  background: transparent;
  border: none !important;
  font-size:0;
}

.whale-menu{
  z-index: 100;
  position: absolute;
  top: 75vh; right: 50%;
  transform: translate(50%,-50%);
}

.whale-panel{
  position: fixed;
  z-index: 5;
  width: 90%;
  height: 30%;
  top: 5%; right: 50%;
  overflow-y: scroll;
  transform: translate(50%,0);
}

.popup{
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 150;
  width: 80%;
  height: fit-content;
  bottom: 50%; right: 50%;
  overflow-y: scroll;
  transform: translate(50%,50%);
  padding-left: 30px;
  padding-right: 20px;
  white-space: wrap;
}

.tts-caption{
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.6);
  width: fit-content;
  height: fit-content;
  transform: translate(50%,50%);
  bottom: 28%; right: 50%;
  padding-left: 5px;
  padding-right: 5px;
  width: 80%;
  font-family: Monospace !important;
}

.tts-caption > p{
  width: fit-content;
  margin: 5px;
}

.map-options{
  display: flex;
  flex-direction: row;
  position: fixed;
  bottom: 5px;
  left: 0px;
  z-index: 100;
}


.map-key{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  bottom: 5px;
  right: 0px;
  z-index: 100;
}

.map-key > *{
  width: fit-content;
}



#top-text{
  text-align: center;
  z-index: 100;
  position: absolute;
  top: 10vh; right: 50%;
  width: 80%;
  transform: translate(50%,-50%);
}

.info-button{
  z-index: 220;
  position: fixed;
  top: 0px; right: 0px;
  margin: 2px;
}

.info-panel{
  position: fixed;
  z-index: 210;
  right: 0;
  top: 0;
  width: fit-content;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 30px;
  padding-right: 20px;
  white-space: wrap;
  overflow-y: scroll;
}

.mouse-passthrough{
  pointer-events: none !important;
}

.scan-line{
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.53);
  animation : scan-line-animation 3s linear infinite alternate;
}


.poi{
  z-index: 100;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  background-color: rgba(0, 0, 0, 0);
}

@-webkit-keyframes scan-line-animation {
  0%   {
    top: 10%;
  }
  100% {
    top: 90%;
  }
}
@keyframes scan-line-animation {
  0%   {
    top: 10%;
  }
  100% {
    top: 90%;
  }
}

#loading-screen {
  position: absolute;
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #647AA3 0%, #334195 100%);
  opacity: 1;
  transition: 1s opacity;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#loading-screen > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#loading-screen.fade-out {
  opacity: 0;
}

#loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffffff;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffffff;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #ffffff;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#a-frame-scene > div.a-modal > div > div.a-dialog-text-container > div, #a-frame-scene > div.a-modal > div > div.a-dialog-buttons-container > button.a-dialog-button {

  color: black !important;
  text-shadow:0 !important;
  font-family: Monospace !important;

}




