/*html,*/
/*body {*/
/*  !*height: 100% !important;*!*/
/*  !*width: 100% !important;*!*/
/*  margin: 0 !important;*/
/*  overflow: hidden;*/
/*  position: fixed !important;*/
/*}*/


/*video {*/
/*  position: fixed !important;*/
/*  width: 100% !important;*/
/*  height: 100% !important;*/
/*  margin: 0 !important;*/
/*  !*scale: 0.4 !important;*!*/
/*  position: fixed !important;*/
/*  object-fit: fill !important;*/
/*}*/

/*canvas{*/
/*  position: fixed !important;*/
/*  width: 100% !important;*/
/*  height: 100% !important;*/
/*  margin: 0 !important;*/
/*  object-fit: contain !important;*/

/*}*/

/*#app, a-scene{*/
/*  position: fixed !important;*/
/*  width: 100% !important;*/
/*  height: 100%  !important;*/
/*  margin: 0 !important;*/
/*  object-fit: contain !important;*/
/*}*/






:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 1);
  background-color: #000e2a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.arjs-loader {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
}

.arjs-loader-spinner {
  z-index: 10;
  -webkit-transform: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border: 3px solid #ddd;
  border-top: 3px solid #42a5f5;
  border-radius: 50%;
  height: 75px;
  width: 75px;
}

@-webkit-keyframes spin {
  to {
    border-top-color: #42a5f5;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    border-top-color: #42a5f5;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#marker-lost-notice{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

#whale-description{
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: left;
  position: absolute;
  bottom:0px;
  white-space: pre-line;
  padding: 10px;
}

